@model IPagedList<rmapp.Data.ToDo>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Web.Common

@{
    ViewData["Title"] = "Things To Do";
}

@{
    var filter = ViewBag.filter;
}

<h1>To Do Items</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index">
    <input name="filter" placeholder="type here..." value="@filter" />
</form>

@if (Model != null)
{
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Due
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
    new PagedListRenderOptions
        {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
}